/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    
}


/* Header and Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    image-rendering: -moz-crisp-edges;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Section */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Intro Section */
.intro {
    text-align: center;
    padding: 20px 0;
}

/* Projects Section */
.projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    width: 45%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.project-item img {
    max-width: 100%;
    height: auto;
}

/* About and Contact Section */
.about, .contact {
    padding: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
